<?php
return [
    'dfm_api' => [
        'dfm.api_url' => 'http://localhost:3000',
        'dfm.api_key' => 'secret',
    ],
    'lime' => [
        'debug' => true,
        'path.root' => __DIR__,
        'path.logs' => '../logs',
        'app.name' => 'DFM API Server',
//        'session.name' => 'dfmapisession',
//        'session.cookie_domain' => '.dmf.nl',
        'sec-key' => 'randomstring',
        'temppath.previewimages' => '../image-web',
    ],
];
