<?php
return [
    'dfm_api' => [
        'dfm.api_url' => 'http://localhost:3000',
        'dfm.api_key' => 'gh*sgSHDsdg#$^34W^sVS(#$SG*$4g9gGR&3',
    ],
    'lime' => [
        'debug' => true,
        'path.root' => __DIR__,
        'app.name' => 'DFM API Server',
//        'session.name' => 'dfmapisession',
//        'session.cookie_domain' => '.dmf.nl',
        'sec-key' => 'lkfz48$w%8FiW44w(^#FKsdg#UWFoaf8F(W$',
        'temppath.previewimages' => '../image-web',
    ],
];